hosts: all
  tasks:
    - name: create service template
      become: yes # sudo
      template:
        src: temp.service.j2
        dest: /etc/systemd/system/assignment2.service

    - name: copy artifact
      copy:
        src: Assignment1
        dest: /home/vagrant/Assignment1
        mode: '0777'

    - name: enable and start service
      become: yes # sudo
      systemd:
        name: Assignment2
        enabled: yes
        state: restarted
